<div class="container">
  <h1>{{msg}}</h1>
  <h2>This is our Home Page!</h2>
  <div id="gameWindow" width="640" height="480"></div>
</div>


<script src="js/phaser.js"></script>
<script src="js/main.js"></script>
<script src="js/sceneMain.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
